@{
    ViewBag.Title = "Forgot Password Confirmation";
}
<!--=== Content Part ===-->
<div class="container content">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
            <div class="reg-header">
                <h2>@ViewBag.Title</h2>
            </div>
            <hr />
            <p>
                Please check your email to reset your password.
            </p>
        </div>
    </div><!--/row-->
</div><!--/container-->
<!--=== End Content Part ===-->