@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "VethentiaViews";

}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">




		<!--=== Slider ===-->
<div class="tp-banner-container">
    <div class="tp-banner">
        <ul>
            <!-- SLIDE -->
            <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Slide 1">
                <!-- MAIN IMAGE -->
                <img src="~/assets/img/sliders/7.jpg" alt="darkblurbg" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
                <!-- LAYER -->
                <div class="tp-caption re-title-v2 sft"
                     data-x="center"
                     data-hoffset="0"
                     data-y="100"
                     data-speed="1400"
                     data-start="1000"
                     data-easing="easeOutBack"
                     data-endspeed="300"
                     data-endeasing="easeInQuad"
                     data-captionhidden="off"
                     style="z-index: 6">
                    Simple & Universal Online Payment
                </div>
                <!-- END LAYER -->
                <!-- LAYER -->
                <div class="tp-caption re-text-v1 sft"
                     data-x="center"
                     data-hoffset="0"
                     data-y="150"
                     data-speed="1600"
                     data-start="2000"
                     data-easing="Power4.easeOut"
                     data-endspeed="300"
                     data-endeasing="Power1.easeIn"
                     data-captionhidden="off"
                     style="z-index: 6">
                    We provide the consumer with a flexible and convenient<br /> method of shopping on any devices (laptops, desktops, tablets, smartphones) <br />and OS platforms (window, mac OS, iOS, Android) <br />with a one-touch, password-free authorization via smartphone.<br /> This reduces rate of cart abandonment <br />and in turn increases revenue for the retailer.
                </div>
                <!-- END LAYER -->
                <!-- LAYER -->
                @*<div class="tp-caption sft"
                     data-x="center"
                     data-hoffset="0"
                     data-y="320"
                     data-speed="1600"
                     data-start="2800"
                     data-easing="Power4.easeOut"
                     data-endspeed="300"
                     data-endeasing="Power1.easeIn"
                     data-captionhidden="off"
                     style="z-index: 6">
                    <a href="#" class="btn-u btn-u-lg re-btn-brd margin-right-5">Read About Us</a>
                    <a href="#" class="btn-u btn-u-lg">Visit Our Work</a>
                </div>*@
                <!-- END LAYER -->
            </li>
            <!-- END SLIDE -->
            <!-- SLIDE -->
          
            <!-- END SLIDE -->
            <!-- SLIDE -->
            <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Slide 3">
                <!-- MAIN IMAGE -->
                <img src="~/assets/img/sliders/8.jpg" alt="darkblurbg" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
                <div class="tp-caption re-title-v2 sft"
                     data-x="center"
                     data-hoffset="0"
                     data-y="100"
                     data-speed="1400"
                     data-start="1000"
                     data-easing="easeOutBack"
                     data-endspeed="300"
                     data-endeasing="easeInQuad"
                     data-captionhidden="off"
                     style="z-index: 6">
                    Secure Online Payment
                </div>
                <div class="tp-caption re-text-v1 sft"
                     data-x="center"
                     data-hoffset="0"
                     data-y="150"
                     data-speed="1600"
                     data-start="2000"
                     data-easing="Power4.easeOut"
                     data-endspeed="300"
                     data-endeasing="Power1.easeIn"
                     data-captionhidden="off"
                     style="z-index: 6">
                    Vray technology works in such a way that neither<br /> retailers nor Vray have access to the consumer's credit<br /> card information.<br />
                    ​Retailers and online marketplace no longer need to<br /> worry about card information hacking problem. Buyers<br /> who are usually hesitant to make purchases online can <br />feel comfortable and secure in knowing that their<br /> personal information will remain personal.
                </div>
                <!-- LAYER -->
                @*<div class="tp-caption sft"
                     data-x="20"
                     data-hoffset="0"
                     data-y="320"
                     data-speed="1600"
                     data-start="2800"
                     data-easing="Power4.easeOut"
                     data-endspeed="300"
                     data-endeasing="Power1.easeIn"
                     data-captionhidden="off"
                     style="z-index: 6">
                    <a href="#" class="btn-u btn-u-lg re-btn-brd margin-right-5">Read About Us</a>
                    <a href="#" class="btn-u btn-u-lg">Visit Our Work</a>
                </div>*@
            </li>
            <!-- END SLIDE -->
            <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Slide 2">
                <!-- MAIN IMAGE -->
                <img src="~/assets/img/sliders/9.jpg" alt="darkblurbg" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
                <!-- LAYER -->
                <div class="tp-caption re-title-v2 sft"
                     data-x="center"
                     data-hoffset="0"
                     data-y="100"
                     data-speed="1400"
                     data-start="1000"
                     data-easing="easeOutBack"
                     data-endspeed="300"
                     data-endeasing="easeInQuad"
                     data-captionhidden="off"
                     style="z-index: 6">
                    Secure Online Payment
                </div>
                <!-- LAYER -->
                <div class="tp-caption re-text-v1 sft"
                     data-x="center"
                     data-hoffset="0"
                     data-y="150"
                     data-speed="1600"
                     data-start="2000"
                     data-easing="Power4.easeOut"
                     data-endspeed="300"
                     data-endeasing="Power1.easeIn"
                     data-captionhidden="off"
                     style="z-index: 6">
                    Vray technology works in such a way that neither<br /> retailers nor Vray have access to the consumer's credit<br /> card information.<br />
                    ​Retailers and online marketplace no longer need to<br /> worry about card information hacking problem. Buyers<br /> who are usually hesitant to make purchases online can <br />feel comfortable and secure in knowing that their<br /> personal information will remain personal.
                </div>
                <!-- LAYER -->
                @*<div class="tp-caption sfb"
                 data-x="center"
                 data-hoffset="0"
                 data-y="230"
                 data-speed="1800"
                 data-start="3000"
                 data-easing="Power4.easeOut"
                 data-endspeed="300"
                 data-endeasing="Power1.easeIn"
                 data-captionhidden="off"
                 style="z-index: 6">
                <img src="~/assets/img/mockup/white-ipad.png" alt="">
            </div>*@
            </li>
        </ul>
        <div class="tp-bannertimer tp-bottom"></div>
    </div>
</div>
<!--=== End Slider ===-->


        <!--=== Popular Content ===-->
        <div class="container content">
            <!-- Top Categories -->
            <div>
                <div style="float:left; width:50%">
                    <div class="headline"><i class="icon-custom icon-sm rounded-x icon-bg-sea icon-line icon-badge"></i>&nbsp;&nbsp;<h2>Simple + Secure + Universal  Online Payment Service</h2></div>
                    <div class="row category margin-bottom-20">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/-xBEIInBbIs" frameborder="0" allowfullscreen></iframe>
                        <!-- Info Blocks -->
                        <div class="col-md-3 col-sm-6">
                            <div class="content-boxes-v3 margin-bottom-5 md-margin-bottom-10">
                                <div class="content-boxes-in-v3">
                                   
                                </div>
                            </div>
                        </div>
                       
                            <h2 class="title-v2"> For Consumers</h2>
                            <p class="space-lg-hor">
                                To use Vray Pay, consumers only need to do steps 1 & 2 once:   
                            </p>
                            <p class="space-lg-hor">
                                1  Sign up Vray for free
                            </p>
                            <p class="space-lg-hor">
                                2  Download Vray App to Your Smartphone<br />
                                via Apple/Android App stores  (stay tuned for the Vray App publish date)
                            </p>
                            <p class="space-lg-hor">

                                ​Once steps 1 & 2 have successfully been completed, shoppers will complete steps 3-5 after each online purchase:
                            </p>
                            <p class="space-lg-hor">

                                3  Click the Vray logo and provide email address
                            </p>
                            <p class="space-lg-hor">

                                4  Receive smartphone notification prompting
                                you to touch to pay
                            </p>
                            <p class="space-lg-hor">

                                5  Successfully complete payment
                            </p>
                       
                        <!-- End Info Blocks -->

                    </div>

                </div>


            </div>

        </div>


        <!--/container-->
        <!--=== End Popular Cities Content ===-->
        <!--=== Full Width Section ===-->
        <div class="container-fluid bg-color-darker">
            <div class="row equal-height-columns-v2 no-gutter">
                <div class="col-md-6 equal-height-column-v2 text-center dp-table">
                    <div class="content-boxes-v3 dp-table-cell quote-v1 parallaxBg">
                        <div class="margin-bottom-10">
                            <img class="rounded-x img-width-60" src="~/assets/img/VRayWhite-Transparent.png" alt="hbpic">
                        </div>
                        <div class="margin-bottom-10">....</div>
                        <p>Simple and Secure Online Payment Solution</p>
                        <span>VRAY</span>
                    </div>
                </div>
                <div class="col-md-6 equal-height-column-v2" data-image-src="/content/images/Rightbgimage1.jpg" alt="rightbgpic"></div>
            </div>
        </div>
        <!--=== End Full Width Section ===-->
        <!--=== What we offer Section ===-->
        <div class="container content-sm">
            <div class="text-center margin-bottom-50">
                <h2 class="title-v2 title-center">VRAY TEAM</h2>
                <p class="space-lg-hor">
                    The team at Vray is working diligently to transform the current landscape for online retailers and consumers alike. With the introduction of Vray Pay, consumers will be able to confidently shop online with any devices and pay with the touch of a finger on a smartphone. While consumers enjoy the perks of simple and secure online shopping, retailers will also benefit from revenue increases, reductions in data breaches and chargebacks.    
                </p>
            </div>
        </div>
